* {
	box-sizing: border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
}
header {
	background-color: black;
	height: 90px;
}
.head {
	width: 1170px;
	margin: auto;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}
nav > ul {
	display: flex;
	list-style: none;
	font-size: 14px;
	color: #fff;
}
nav > ul > li {
	margin-right: 35px;
	cursor: pointer;
}
section {
	width: 1170px;
	margin: 30px auto;
	display: flex;
	justify-content: space-between;
}
.big-block {
	width: 380px;
	height: 545px;
	background-image: url('img/mers.png');
	background-size: cover;
	border-radius: 5px;
}
.button {
	width: 62px;
	height: 22px;
	padding: 2px 12px;
	margin: 30px 0 0 20px;
	background-color: #4A90E2;
	font-size: 12px;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}
.block-txt {
	width: 360px;
	margin: 370px 0 0 0;
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
}
.block-txt > h1 {
	font-size: 26px;
}
.block {
	width: 370px;
	height: 265px;
	background-image: url('img/mers2.png');
}
.mini-blocks {
	width: 760px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.mini-blocks > div {
	width: 370px;
	height: 265px;
	border-radius: 5px;
}
.block-1 {
	background-image: url('img/mers3.png');
}
.block-2 {
	background-image: url('img/audi.png')
}
.block-3 {
	background-image: url('img/audi2.png');
}
.block-4 {
	background-image: url('img/old.png');
}
.mini-blocks > div > .block-txt {
	width: 350px;
	margin: 110px 0 0 0;
	padding-left: 20px;
	color: #fff;
	font-size: 14px;
}
.mini-blocks > div > .block-txt > h1 {
	font-size: 20px;
}
.container {
	width: 1170px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
main {
	width: 770px;
	margin-top: 50px;
}
aside {
	width: 270px;
	margin-top: 50px;
}
.slide-1 {
	width: 770px;
	height: 440px;
	background-image: url('img/Bitmap.png');
}
.slide-2, .slide-3, .slide-4, .slide-5 {
	width: 770px;
	height: 440px;
	margin-top: 50px;
}
.slide-text {
	width: 730px;
	margin: -140px 0 0 20px;
	padding: 5px 30px;
	border-radius: 5px;
	background-color: #fff;
	color: #666666;
	font-size: 14px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.75);
}
.slide-text > h1 {
	font-size: 25px;
	color: #171717;
}
.slide-text > p {
	width: 600px;
	line-height: 25px;
}
.slide-text > .button {
	margin: 20px 0 0 0;
}
.slide-2 {
	background-image: url('img/bmw.png');
}
.slide-3 {
	background-image: url('img/mclaren.png');
}
.slide-4 {
	background-image: url('img/schevrolet.png');
}
.slide-5 {
	background-image: url('img/jeep.png');
}
.pagination {
	width: 340px;
	margin-top: 70px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
.pagination > div {
	width: 40px;
	height: 40px;
	border-radius: 2px;
	padding: 10px 0 0 15px;
	cursor: pointer;
}
.white {
	background-color: white;
	border: 1px solid #E5E5E5;
}
.black {
	color: white;
	background-color: black;
}
.leon > h3 {
	font-size: 18px;
}
.leon > i {
	font-size: 14px;
	color: #999999;
}
.leon > p {
	font-size: 15px;
	color: #666666;
}
.long-button {
	width: 270px;
	height: 50px;
	background-color: #232323;
	color: #fff;
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	border-radius: 5px;
	cursor: pointer;
}
.long-button:hover {
	background-color: #4A90E2;
}
.sidebar > div {
	width: 270px;
	height: 195px;
	margin-top: 25px;
	padding: 15px 15px;
}
.image-1 {
	background-image: url('img/side1.png');
}
.sidebar > div > .button {
	margin: 0;
}
.sidebar > h3 {
	font-size: 18px;
	color: #171717;
}
.sidebar > h2 {
	font-size: 20px;
	color: #171717;
}
.sidebar > i {
	font-size: 14px;
	color: #666666;
}
.image-2 {
	background-image: url('img/side 2.png');
}
.image-3 {
	background-image: url('img/side 3.png');
}
.instagram > h3 {
	font-size: 18px;
	color: #171717;
}
.side-section {
	width: 270px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.side-section > img {
	margin-top: 10px;
}
.instagram > .long-button {
	margin-top: 15px;
}
.tags {
	margin-top: 40px;
}
.tags > h3 {
	font-size: 18px;
	color: #171717;
}
.tags-section {
	width: 270px;
	display: flex;
	
	flex-wrap: wrap;
	font-size: 14px;
	color: #171717;
}
.tags-section > div {
	height: 30px;
	background-color: #EBEBEB;
	border-radius: 2px;
	padding: 5px 10px;
	margin-right: 15px;
	margin-top: 15px;
}
.email {
	margin-top: 40px;
}
.email > h3 {
	font-size: 18px;
	color: #171717;
}
.email > p {
	font-size: 14px;
	color: #666666;
}
.adress {
	width: 270px;
	height: 50px;
	color: #AEB3BB;
	padding: 10px 0 0 15px;
	margin: 15px 0 15px 0;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
}
.popular {
	width: 1170px;
	margin: 50px auto;
}
.bmw {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.bmw > div {
	width: 270px;
	height: 195px;
}
.bmw > div > h3 {
	font-size: 20px;
	color: #171717;
}
.bmw > div > i {
	font-size: 14px;
	color: #666666;
}
.bmw-1 {
	background-image: url('img/BMW 1.png');
}
.bmw-2 {
	background-image: url('img/bmw 2.png')
}
.bmw-3 {
	background-image: url('img/bmw-3.png')
}
.bmw-4 {
	background-image: url('img/bmw 4.png')
}
.black-slide {
	background-color: #171717;
}
.sectors {
	width: 1170px;
	margin: auto;
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
}
.sector-1 {
	width: 270px;
}
.sector-1, .sector-2 > b {
	font-size: 20px;
	color: #fff;
}
.sector-1 > div {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.sector-1 > p {
	font-size: 14px;
	color: #CECECE;
}
.sector-2 {
	width: 295px;
	margin-bottom: 20px;
}
.sec-2 {
	width: 295px;
	display: flex;
	height: 95px;
	margin-top: 20px;
}
.sec-2 > img {
	margin-right: 15px;
}
.sec-2 > div {
	margin-top: -10px;
}
.sec-2 > div > h4 {
	color: #fff;
	font-size: 15px;
}
.sec-2 > div > i {
	color: #CECECE;
	font-size: 14px;
}
.sector-3 {
	width: 270px;
}
.sector-3 > .email {
	width: 270px;
	margin-top: 0;
}
.sector-3 > .email > h3 {
	font-size: 20px;
	color: #fff;
}
.sector-3 > .email > .adress {
	background-color: #373737;
	border: none;
}
footer {
	background-color: black;
}
.footer {
	width: 1170px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	color: #fff;
	font-size: 14px;
	padding: 20px 0 20px 0;
}